<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.common.min.css" />
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.uniform.min.css" />
  <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.220/styles/kendo.uniform.mobile.min.css" />
  <link rel="stylesheet" href="/css/style.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>
  <script src="/js/kendo.all.min.js"></script>
  <title>Percival - @ViewData["title"]</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">

</head>

<body class="text-center">
    <header class="jumbotron">
        <div class="container">
            <a id="mainLink" href="#"><h1>Percival</h1></a>
            <p>
                ASP.NET MVC/JQuery SpaceX Data Aggregator
            </p>
        </div>
    </header>
    <main role="main" class="container-fluid">
        @RenderBody()
    </main>
    <script>
      // This function prevents user from clicking main header to reload home page
          if ("@ViewData["title"]" != "Home")
              document.getElementById('mainLink').setAttribute("href", "/");
    </script>
</body>

</html>
