div.percival-grid > section > h4 {
  width: 60%;
  margin: 0 auto;
  border-bottom: 1px gray solid;
  padding-bottom: 1rem;
  padding-top: 2rem;
}
h3{
  width: 60%;
  padding:2rem 0;
  background-color:#EEE;
  margin:0 auto;
  margin-top:4rem;
}
div.row-flex{
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:top;
  width:50%;
  margin:0 auto;
}
    div.row-flex > a, div.row-flex > div {
        flex-grow: 1;
        padding: 1rem;
        min-width: calc(100%/3);
        display: block;
    }
div.row-flex > a:hover,div.row-flex > div:hover {
  background-color:rgba(0,0,0,0.2);
}
img#mission_patch{
  width:10%;
  margin:0 auto;
}
div#manifest{
  padding-bottom:10vh;
}
